
.contacto-div-top{
  overflow: hidden;
  height: 400px;
  position: relative;
  display: inline-block;
  text-align: center;
    img{
      position:relative;
      width: 100%;
      top: -320px;
      z-index: -1;
    }
}
.contacto-quote{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0,0,0,0.3);
  color: white;
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;

}

.contacto-content{
  margin-top:100px ;
  padding: 20px;
}

.contacto-info{
  color:white;
  width: 50%;
}

.contacto-img{
    
    img{
        width: 100vh;
    }
}

.social-icons-contacto{ 
  padding-top: 100px;
  align-content: center;
  display:flex;
  justify-content: center;
  flex-direction: row;
    .icon{    
      border-radius: 50%;
      border: solid;
      border-width: 1px;
      border-color: white;
      color: white;
      transition-duration: 300ms;
      &:hover{
        background-color: #990099;
        
      }
      width: 3rem;
      height: 3rem;
      position: relative;  
      margin-left: 1rem;  
      margin-right: 1rem;  
      .icon-text{
        
        font-weight: 300;
        font-size: 12px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }