

.division-services{
    background-color: blue;
    display:flex;
    align-items: center;
    justify-content: center;
        p{
            align-content: center;
            color: white;
        }
}